---
interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ?? "Continuous Newspaper"}</title>
	</head>
	<body>
		<nav class="p-4 lg:px-8 flex justify-between items-center text-slate-700 shadow mb-6">
			<a href="/" class="flex flex-col">
				<p class="text-xl uppercase">Continuous Newspaper</p>
				<p class="font-bold text-sm tracking-wide">Leading the new era of news coverage</p>
			</a>

			<ul class="flex gap-6 px-4 flex-wrap">
				<li><a href="/" class="hover:text-slate-500 transition-colors">Home</a></li>
				<li><a href="/contact" class="hover:text-slate-500 transition-colors">Contact Us</a></li>
			</ul>
		</nav>
		<slot />
	</body>
</html>
